<!DOCTYPE html>
<%= logger.info("HELLO NIGHT") %>
<html>
  <head>
    <!-- meta charec set -->
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Page Title -->
    <title>Dosen Input Nilai Seminar TA I</title>
    <!-- Meta Description -->
    <meta name="description" content="Tugas Akhir dan Kerja Praktek ITB">
    <meta name="keywords" content="TA, TA I, TA II, TA 1, TA 2, Tugas Akhir, Ajukan Topik TA, ITB, Institut Teknologi Bandung">
    <meta name="author" content="Geraldi Dzakwan">
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/style/static_pages.css" rel="stylesheet" type="text/css">
    <link href="/style/dosen-ajukan-topik.css" rel="stylesheet" type="text/css">
    <link href="/style/dosen_nilai_seminar.css" rel="stylesheet" type="text/css">
    <script src="/script/jquery.js" type="text/javascript"></script>
    <script src="/script/dosen_nilai_seminar.js" type="text/javascript"></script>

  </head>
  <% if logged_in? %>
    <%
      if current_user.role == 'dosen'
        #keep
      elsif  current_user.role == 'mahasiswa'
        controller.redirect_to controller: 'mahasiswa', action: 'mahasiswa_ajukan_topik'
      else #TU
        controller.redirect_to controller: 'tu', action: 'tu_lihat_user'
    %>
  <% end %>
  <% else %>
    <% controller.redirect_to controller: 'sessions', action: 'new' %>
  <% end %>
  <body id="body">
    <!-- Fixed Navigation -->
    <header id="navigation" class="navbar-fixed-top navbar">
      <div class="container">
        <div class="navbar-header">
          <!-- responsive nav button -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars fa-2x"></i>
          </button>
          <!-- /responsive nav button -->

          <!-- logo -->
          <a class="navbar-brand" href="#body">
            <h1 id="logo">
              <img src="/img/Logo-ITB.png" height="50" width="50" alt="itb">
            </h1>
          </a>
          <!-- /logo -->
        </div>

        <!-- main nav -->
        <nav class="collapse navbar-collapse navbar-right" role="navigation">
          <ul id="nav" class="nav navbar-nav">
            <li><a href="/dosen_pembimbing">PILIH MODE</a></li>
            <li><a href="dosen_ajukan_topik">AJUKAN TOPIK</a></li>
            <li><a href="mahasiswa_ajukan_topik">PENGISIAN PRIORITAS</a></li>
            <li><a href="bimbingan">MAHASISWA BIMBINGAN</a></li>
            <li><a class="current">SEMINAR</a></li>
            <li><a href="/logout">LOGOUT</a></li>
          </ul>
        </nav>
        <!-- /main nav -->
      </div>
    </header>



    <% dosen = Dosen.find_by(nip: current_user.username)%>
    <% if dosen != nil %>
    <h2 style="margin-bottom: 0">Halo, <%= dosen.nama %> </h2>
    <% end %>
    <h1 style="margin-top: 0;"> NILAI SEMINAR TA I </h1>
    <input id="rolePembimbing" class="input-radio" type="radio" name="role" value="rolePembimbing" checked>
      <label for="rolePembimbing" class="label-radio">Sebagai Dosen Pembimbing</label>
    <input id="rolePenguji" class="input-radio-2" type="radio" name="role" value="rolePenguji">
      <label for="rolePenguji" class="label-radio">Sebagai Dosen Penguji</label>

    <br><br>
    <div id='listMahasiswaPembimbing' name="" style='display:block'>
      <table>
        <tr>
          <th>NIM</th>
          <th>Nama</th>
          <th>Topik</th>
        </tr>
        <%if defined?(:mahasiswa_pembimbing)%>
        	<%if(@mahasiswa_pembimbing!=nil) %>
        	  <% @mahasiswa_pembimbing.each do |mhsiswa| %>
        	  	<tr id=<%= mhsiswa.nim %>  onclick="showDiv(<%= mhsiswa.nim %>,'pembimbing')" data-remote="true" class='clickable-row'>
      			    <td><%= mhsiswa.nim %></td>
      			    <td><%= mhsiswa.nama_mhs %></td>
      			    <td><%= mhsiswa.topik %></td>
      			  </tr>
  		      <% end %>
  		    <% end %>
  	    <% end %>
      </table>
    </div>

    <div id='listMahasiswaPenguji' name="" style='display:block'>
      <table>
        <tr>
          <th>NIM</th>
          <th>Nama</th>
          <th>Topik</th>
        </tr>
        <%if defined?(:mahasiswa_penguji)%>
        	<%if(@mahasiswa_penguji!=nil) %>
        	  <% @mahasiswa_penguji.each do |mhsiswa| %>
        	  	<tr id=<%= mhsiswa.nim %>  onclick="showDiv(<%= mhsiswa.nim %>,'penguji')" data-remote="true" class='clickable-row'>
  			        <td><%= mhsiswa.nim %></td>
  			        <td><%= mhsiswa.nama_mhs %></td>
  			        <td><%= mhsiswa.topik %></td>
  			      </tr>
  		      <% end %>
  		    <% end %>
  	    <% end %>
      </table>
    </div>

    <div id='inputNilaiSeminarPenguji' name="" style='display:none'>
      <h2 id='judul-form-penguji' class='label-form'>NILAI SEMINAR MAHASISWA NIM XXXXX</h2>
      <br>
  	  <%= form_tag("/dosen_pembimbing/edit_nilai_seminar", method: "post") do %>
      <table>
        <tr>
          <th>No</th>
          <th colspan="2">Kriteria</th>
          <th>Nilai</th>
        </tr>
        <tr>
          <td colspan="4">I. Kriteria Utama</td>
        </tr>
        <tr>
          <td>1</td>
          <td colspan="2">Pendefinisian permasalahan Tugas Akhir: ketepatan scope masalah dan kejelasan tujuan Tugas Akhir</td>
          <td><select id="nilai_seminar1" name="nilai_seminar1" style="position: relative !important;
        	z-index: 0 !important;
        	margin-left: 0% !important;
        	background-color: #284f27;
          color: #fff;
          max-height: 250px;
        	border: 0 !important ;
          width: 100% !important ;
          font-size: 16px;">
               <option>+</option>
               <option>-</option>
              </select>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td colspan="2">Pemahaman materi utama Tugas Akhir: hasil studi literatur dan ide umum solusi penyelesaian masalah</td>
          <td><select id="nilai_seminar2" name="nilai_seminar2" style="position: relative !important;
        	z-index: 0 !important;
        	margin-left: 0% !important;
        	background-color: #284f27;
          color: #fff;
          max-height: 250px;
        	border: 0 !important ;
          width: 100% !important ;
          font-size: 16px;">
               <option>+</option>
               <option>-</option>
              </select>
          </td>
        </tr>
        <tr>
          <td colspan="4">II. Kriteria Penting</td>
        </tr>
        <tr>
          <td rowspan="5">3</td>
          <td colspan="2">Tulisan Laporan Tugas Akhir I: Kesesuaian laporan dengan panduan penulisan<br>
  (Berikan nilai + pada kolom Nilai jika subkriteria a bernilai + dan minimum 1(satu) subkriteria lain (b-c) bernilai +. Berikan - jika tidak.)</td>
          <td rowspan="5"><input id="nilai_seminar3" name="nilai_seminar3" class="input-text" value="+" type="text" size="5" readonly>
          </td>
        </tr>
        <tr>
          <td colspan="2">Subkriteria: Berikan tanda + (baik) / - (kurang/tidak baik) pada kolom di kanan subkriteria berikut ini: </td>
        </tr>
        <tr>
          <td>a.	Kerunutan, kejelasan, dan kelengkapan isi laporan</td>
          <td><select id="nilai_seminar3a" name="nilai_seminar3a" style="position: relative !important;
        	z-index: 0 !important;
        	margin-left: 0% !important;
        	background-color: #284f27;
          color: #fff;
          max-height: 250px;
        	border: 0 !important ;
          width: 100% !important ;
          font-size: 16px;">
               <option>+</option>
               <option>-</option>
              </select>
          </td>
        </tr>
        <tr>
          <td>b.	Ketepatan penggunaan ejaan, tata bahasa, dan tata tulis</td>
          <td><select id="nilai_seminar3b" name="nilai_seminar3b" style="position: relative !important;
        	z-index: 0 !important;
        	margin-left: 0% !important;
        	background-color: #284f27;
          color: #fff;
          max-height: 250px;
        	border: 0 !important ;
          width: 100% !important ;
          font-size: 16px;">
               <option>+</option>
               <option>-</option>
              </select>
          </td>
        </tr>
        <tr>
          <td>c.	Kerapihan dan keterbacaan tulisan dan gambar</td>
          <td><select id="nilai_seminar3c" name="nilai_seminar3c" style="position: relative !important;
        	z-index: 0 !important;
        	margin-left: 0% !important;
        	background-color: #284f27;
          color: #fff;
          max-height: 250px;
        	border: 0 !important ;
          width: 100% !important ;
          font-size: 16px;">
               <option>+</option>
               <option>-</option>
              </select>
          </td>
        </tr>
        <tr>
          <td colspan="4">III. Kriteria Pendukung</td>
        </tr>
        <tr>
          <td rowspan="7">4</td>
          <td colspan="2">Presentasi<br>
  (Berikan nilai + pada kolom Nilai jika subkriteria a bernilai + dan minimum 2 (dua) buah subkriteria lain (b-e) bernilai +. Berikan – jika tidak.)</td>
          <td rowspan="7"><input id="nilai_seminar4" name="nilai_seminar4" name="nilaiSeminar4" class="input-text" value="+" type="text" size="5" readonly>
          </td>
        </tr>
        <tr>
          <td colspan="2">Subkriteria: Berikan tanda + (baik) / - (kurang/tidak baik) pada kolom di kanan subkriteria berikut ini: </td>
        </tr>
        <tr>
          <td>a.	Kerunutan, kejelasan, dan kelengkapan isi presentasi</td>
          <td><select id="nilai_seminar4a" name="nilai_seminar4a" style="position: relative !important;
        	z-index: 0 !important;
        	margin-left: 0% !important;
        	background-color: #284f27;
          color: #fff;
          max-height: 250px;
        	border: 0 !important ;
          width: 100% !important ;
          font-size: 16px;">
               <option>+</option>
               <option>-</option>
              </select>
          </td>
        </tr>
        <tr>
          <td>b.	Kerapihan dan keterbacaan slides presentasi</td>
          <td><select id="nilai_seminar4b" name="nilai_seminar4b" style="position: relative !important;
        	z-index: 0 !important;
        	margin-left: 0% !important;
        	background-color: #284f27;
          color: #fff;
          max-height: 250px;
        	border: 0 !important ;
          width: 100% !important ;
          font-size: 16px;">
               <option>+</option>
               <option>-</option>
              </select>
          </td>
        </tr>
        <tr>
          <td>c.	Kejelasan ucapan dan ketepatan penggunaan bahasa</td>
          <td><select id="nilai_seminar4c" name="nilai_seminar4c" style="position: relative !important;
        	z-index: 0 !important;
        	margin-left: 0% !important;
        	background-color: #284f27;
          color: #fff;
          max-height: 250px;
        	border: 0 !important ;
          width: 100% !important ;
          font-size: 16px;">
               <option>+</option>
               <option>-</option>
              </select>
          </td>
        </tr>
        <tr>
          <td>d.	Ketepatan waktu</td>
          <td><select id="nilai_seminar4d" name="nilai_seminar4d" style="position: relative !important;
        	z-index: 0 !important;
        	margin-left: 0% !important;
        	background-color: #284f27;
          color: #fff;
          max-height: 250px;
        	border: 0 !important ;
          width: 100% !important ;
          font-size: 16px;">
               <option>+</option>
               <option>-</option>
              </select>
          </td>
        </tr>
        <tr>
          <td>e.	Perhatian ke hadirin</td>
          <td><select id="nilai_seminar4e" name="nilai_seminar4e" style="position: relative !important;
        	z-index: 0 !important;
        	margin-left: 0% !important;
        	background-color: #284f27;
          color: #fff;
          max-height: 250px;
        	border: 0 !important ;
          width: 100% !important ;
          font-size: 16px;">
               <option>+</option>
               <option>-</option>
              </select>
          </td>
        </tr>
        <tr>
          <td>5</td>
          <td colspan="2">Kemampuan menjawab pertanyaan dengan lugas dalam tanya jawab </td>
          <td><select id="nilai_seminar5" name="nilai_seminar5" style="position: relative !important;
        	z-index: 0 !important;
        	margin-left: 0% !important;
        	background-color: #284f27;
          color: #fff;
          max-height: 250px;
        	border: 0 !important ;
          width: 100% !important ;
          font-size: 16px;">
               <option>+</option>
               <option>-</option>
              </select>
          </td>
        </tr>
        <tr>
          <td>6</td>
          <td colspan="2">Pemahaman materi-materi pendukung TA (didapatkan dari tanya jawab)</td>
          <td><select id="nilai_seminar6" name="nilai_seminar6" style="position: relative !important;
        	z-index: 0 !important;
        	margin-left: 0% !important;
        	background-color: #284f27;
          color: #fff;
          max-height: 250px;
        	border: 0 !important ;
          width: 100% !important ;
          font-size: 16px;">
               <option>+</option>
               <option>-</option>
              </select>
          </td>
        </tr>
      </table>
        <input name="nilai_total" id="nilai_total" placeholder="" class="input-text" type="text" readonly>
  		<br>
      <span class='label-form'>Keterangan :<br>
  *) Tuliskan + untuk kriteria yang bernilai baik dan - untuk kriteria yang kurang/tidak<br>
  baik. Perkecualian untuk kriteria 3 dan 4 yang mengikuti aturan khusus sebagaimana <br>
  disebutkan di atas.<br>
  **) Lingkari nilai akhir yang tepat berdasarkan pedoman penilaian akhir sebagai <br>berikut:<br>
      </span>
      <table>
        <tr>
          <th rowspan="2">Nilai</th>
          <th colspan="3">Kriteria Bernilai Baik(+)</th>
        </tr>
        <tr>
          <th>Utama</th>
          <th>Penting</th>
          <th>Pendukung</th>
        </tr>
        <tr>
          <td>A</td>
          <td>2</td>
          <td>1</td>
          <td>Minimum 2</td>
        </tr>
        <tr>
          <td>AB</td>
          <td>2</td>
          <td>0</td>
          <td>3</td>
        </tr>
        <tr>
          <td>AB</td>
          <td>2</td>
          <td>1</td>
          <td>1</td>
        </tr>
        <tr>
          <td>B</td>
          <td>2</td>
          <td>0</td>
          <td>Minimum 2</td>
        </tr>
        <tr>
          <td>B</td>
          <td>2</td>
          <td>1</td>
          <td>0</td>
        </tr>
        <tr>
          <td>BC</td>
          <td>2</td>
          <td>Bebas</td>
          <td>Bebas</td>
        </tr>
        <tr>
          <td>C</td>
          <td>1</td>
          <td>Bebas</td>
          <td>Bebas</td>
        </tr>
        <tr>
          <td>D</td>
          <td>0</td>
          <td>Bebas</td>
          <td>Bebas</td>
        </tr>
        <tr>
          <td>E</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
      </table>
  		<input name="nim_mahasiswa_penguji" id="nim_mahasiswa_penguji" type="hidden">
      <input name="status_mahasiswa_penguji" id="status_mahasiswa_penguji" type="hidden">
      <label class='label-form'>BERITA ACARA</label>
      <br>
      <textarea id="beritaacaraseminarpenguji" name="beritaacaraseminarpenguji" rows="8" cols="50">
      </textarea>
      <input value="CLOSE" type="button" onClick="closeDiv()" class="button-submit">
  		<%= submit_tag("SAVE", :class => "button-submit") %>
        <% end %>
    </div>

    <div id='inputNilaiSeminarPembimbing' name="" style='display:none'>
      <h2 id='judul-form-pembimbing' class='label-form'>NILAI SEMINAR MAHASISWA NIM XXXXX</h2>
      <br>
  	  <%= form_tag("/dosen_pembimbing/edit_nilai_seminar", method: "post") do %>
      <table>
        <tr>
          <th>No</th>
          <th colspan="2">Kriteria</th>
          <th>Nilai</th>
        </tr>
        <tr>
          <td colspan="4">I. Kriteria Utama</td>
        </tr>
        <tr>
          <td>1</td>
          <td colspan="2">Pendefinisian permasalahan Tugas Akhir: ketepatan scope masalah dan kejelasan tujuan Tugas Akhir</td>
          <td><select id="pembimbing_nilai_seminar1" name="pembimbing_nilai_seminar1" style="position: relative !important;
        	z-index: 0 !important;
        	margin-left: 0% !important;
        	background-color: #284f27;
          color: #fff;
          max-height: 250px;
        	border: 0 !important ;
          width: 100% !important ;
          font-size: 16px;">
               <option>+</option>
               <option>-</option>
              </select>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td colspan="2">Pemahaman materi utama Tugas Akhir: hasil studi literatur dan ide umum solusi penyelesaian masalah</td>
          <td><select id="pembimbing_nilai_seminar2" name="pembimbing_nilai_seminar2" style="position: relative !important;
        	z-index: 0 !important;
        	margin-left: 0% !important;
        	background-color: #284f27;
          color: #fff;
          max-height: 250px;
        	border: 0 !important ;
          width: 100% !important ;
          font-size: 16px;">
               <option>+</option>
               <option>-</option>
              </select>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td colspan="2">Usaha yang dilakukan untuk mencapai hasil</td>
          <td><select id="pembimbing_nilai_seminar3" name="pembimbing_nilai_seminar3" style="position: relative !important;
        	z-index: 0 !important;
        	margin-left: 0% !important;
        	background-color: #284f27;
          color: #fff;
          max-height: 250px;
        	border: 0 !important ;
          width: 100% !important ;
          font-size: 16px;">
               <option>+</option>
               <option>-</option>
              </select>
          </td>
        </tr>
        <tr>
          <td colspan="4">II. Kriteria Pendukung</td>
        </tr>
        <tr>
          <td rowspan="5">4</td>
          <td colspan="2">Tulisan Laporan Tugas Akhir I: Kesesuaian laporan dengan panduan penulisan<br>
  (Berikan nilai + pada kolom Nilai jika subkriteria a bernilai + dan minimum 1(satu) subkriteria lain (b-c) bernilai +. Berikan - jika tidak.)</td>
          <td rowspan="5"><input id="pembimbing_nilai_seminar4" name="pembimbing_nilai_seminar4" class="input-text" value="+" type="text" size="5" readonly>
          </td>
        </tr>
        <tr>
          <td colspan="2">Subkriteria: Berikan tanda + (baik) / - (kurang/tidak baik) pada kolom di kanan subkriteria berikut ini: </td>
        </tr>
        <tr>
          <td>a.	Kerunutan, kejelasan, dan kelengkapan isi laporan</td>
          <td><select id="pembimbing_nilai_seminar4a" name="pembimbing_nilai_seminar4a" style="position: relative !important;
        	z-index: 0 !important;
        	margin-left: 0% !important;
        	background-color: #284f27;
          color: #fff;
          max-height: 250px;
        	border: 0 !important ;
          width: 100% !important ;
          font-size: 16px;">
               <option>+</option>
               <option>-</option>
              </select>
          </td>
        </tr>
        <tr>
          <td>b.	Ketepatan penggunaan ejaan, tata bahasa, dan tata tulis</td>
          <td><select id="pembimbing_nilai_seminar4b" name="pembimbing_nilai_seminar4b" style="position: relative !important;
        	z-index: 0 !important;
        	margin-left: 0% !important;
        	background-color: #284f27;
          color: #fff;
          max-height: 250px;
        	border: 0 !important ;
          width: 100% !important ;
          font-size: 16px;">
               <option>+</option>
               <option>-</option>
              </select>
          </td>
        </tr>
        <tr>
          <td>c.	Kerapihan dan keterbacaan tulisan dan gambar</td>
          <td><select id="pembimbing_nilai_seminar4c" name="pembimbing_nilai_seminar4c" style="position: relative !important;
        	z-index: 0 !important;
        	margin-left: 0% !important;
        	background-color: #284f27;
          color: #fff;
          max-height: 250px;
        	border: 0 !important ;
          width: 100% !important ;
          font-size: 16px;">
               <option>+</option>
               <option>-</option>
              </select>
          </td>
        </tr>
        <tr>
          <td>5</td>
          <td colspan="2">Komunikasi dan tanggung jawab dalam proses bimbingan</td>
          <td><select id="pembimbing_nilai_seminar5" name="pembimbing_nilai_seminar5" style="position: relative !important;
        	z-index: 0 !important;
        	margin-left: 0% !important;
        	background-color: #284f27;
          color: #fff;
          max-height: 250px;
        	border: 0 !important ;
          width: 100% !important ;
          font-size: 16px;">
               <option>+</option>
               <option>-</option>
              </select>
          </td>
        </tr>
        <tr>
          <td>6</td>
          <td colspan="2">Kreativitas dalam mencapai hasil</td>
          <td><select id="pembimbing_nilai_seminar6" name="pembimbing_nilai_seminar6" style="position: relative !important;
        	z-index: 0 !important;
        	margin-left: 0% !important;
        	background-color: #284f27;
          color: #fff;
          max-height: 250px;
        	border: 0 !important ;
          width: 100% !important ;
          font-size: 16px;">
               <option>+</option>
               <option>-</option>
              </select>
          </td>
        </tr>
      </table>
        <input name="pembimbing_nilai_total" id="pembimbing_nilai_total" placeholder="" class="input-text" type="text" readonly>
  		<br>
      <span class='label-form'>Keterangan :<br>
  *) Tuliskan + untuk kriteria yang bernilai baik dan - untuk kriteria yang kurang/tidak<br>
  baik. Perkecualian untuk kriteria 4 yang mengikuti aturan khusus sebagaimana <br>
  disebutkan di atas.<br>
  **) Lingkari nilai akhir yang tepat berdasarkan pedoman penilaian akhir sebagai <br>berikut:<br>
      </span>
      <table>
        <tr>
          <th rowspan="2">Nilai</th>
          <th colspan="2">Kriteria Bernilai Baik(+)</th>
        </tr>
        <tr>
          <th>Utama</th>
          <th>Pendukung</th>
        </tr>
        <tr>
          <td>A</td>
          <td>3</td>
          <td>Minimum 2</td>
        </tr>
        <tr>
          <td>AB</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>AB</td>
          <td>3</td>
          <td>1</td>
        </tr>
        <tr>
          <td>B</td>
          <td>2</td>
          <td>Minimum 2</td>
        </tr>
        <tr>
          <td>B</td>
          <td>3</td>
          <td>0</td>
        </tr>
        <tr>
          <td>BC</td>
          <td>2</td>
          <td>Bebas</td>
        </tr>
        <tr>
          <td>C</td>
          <td>1</td>
          <td>Bebas</td>
        </tr>
        <tr>
          <td>D</td>
          <td>0</td>
          <td>Bebas</td>
        </tr>
        <tr>
          <td>E</td>
          <td>0</td>
          <td>0</td>
        </tr>
      </table>
  		<input name="nim_mahasiswa_pembimbing" id="nim_mahasiswa_pembimbing" type="hidden">
      <input name="status_mahasiswa_pembimbing" id="status_mahasiswa_pembimbing" type="hidden">
      <label class='label-form'>BERITA ACARA</label>
      <br>
      <textarea id="beritaacaraseminarpembimbing" name="beritaacaraseminarpenguji" rows="8" cols="50">
      </textarea>
      <input value="CLOSE" type="button" onClick="closeDiv()" class="button-submit">
  		<%= submit_tag("SAVE", :class => "button-submit") %>
      <% end %>
    </div>


  <footer>
    <p>
      ©2016 Informatics | School of Electrical Engineering & Informatics (SEEI) | Institut Teknologi Bandung
    </p>
  </footer>
  </body>
</html>
