<!DOCTYPE html>
<%= logger.info("HELLO NIGHT") %>
<html>
  <head>
    <!-- meta charec set -->
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Page Title -->
    <title>Dosen Ajukan Topik TA</title>
    <!-- Meta Description -->
    <meta name="description" content="Tugas Akhir dan Kerja Praktek ITB">
    <meta name="keywords" content="TA, TA I, TA II, TA 1, TA 2, Tugas Akhir, Ajukan Topik TA, ITB, Institut Teknologi Bandung">
    <meta name="author" content="Ari Pratama Zhorifiandi">
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <link href="/style/static_pages.css" rel="stylesheet" type="text/css">
    <link href="/style/ajukan-topik.css" rel="stylesheet" type="text/css">
    <link href="/style/bimbingan.css" rel="stylesheet" type="text/css">
    <script src="/script/static-pages.js" type="text/javascript"></script>

  </head>

  <body id="body">
    <!-- Fixed Navigation -->
    <header id="navigation" class="navbar-fixed-top navbar">
      <div class="container">
        <div class="navbar-header">
          <!-- responsive nav button -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars fa-2x"></i>
          </button>
          <!-- /responsive nav button -->

          <!-- logo -->
          <a class="navbar-brand" href="#body">
            <h1 id="logo">
              <img src="/img/Logo-ITB.png" height="50" width="50" alt="itb">
            </h1>
          </a>
          <!-- /logo -->
        </div>

        <!-- main nav -->
        <nav class="collapse navbar-collapse navbar-right" role="navigation">
          <ul id="nav" class="nav navbar-nav">
            <li><a class="current">MAHASISWA</a></li>
            <!-- <li><a href="assignment_topik">ASSIGNMENT TOPIK</a></li> -->
            <!-- <li><a href="assignment_penguji">ASSIGNMENT PENGUJI</a></li> -->
            <li><a href="/logout">LOGOUT</a></li>
          </ul>
        </nav>
        <!-- /main nav -->
      </div>
    </header>
    <% if logged_in? %>
      <%
        if current_user.role == 'dosen'
          #keep
        elsif  current_user.role == 'mahasiswa'
          controller.redirect_to controller: 'mahasiswa', action: 'mahasiswa_ajukan_topik'
      %>
    <% end %>
    <% else %>
      <% controller.redirect_to controller: 'sessions', action: 'new' %>
    <% end %>

    <div style="margin: 0 auto; width: 80%; margin-top: 40px;">
      <a href="/tu"><div class="btn-tinjau">
        KEMBALI
      </div></a>
    </div>

    <h1>DAFTAR MAHASISWA TA II</h1>
    <br>
    <% flash.each do |key, value| %>
      <%= content_tag(:p, value, :class => "notice-alert") %>
    <% end %>
    <% if @mahasiswas.blank? %>
      <label class='label-form empty-record'> Tidak ada pengajuan bimbingan.</label>
    <% end %>
    <% @mahasiswas.each do |elem| %>
      <% if elem.nim != nil %>
        <div class="mahasiswa-container">
          <div class="box-mhs">
            <h1><%=elem.nim%></h1>
            <ul>
              <li>Nama: <%=elem.name%></li>
            </ul>
          </div>
          <a href="/tu/mahasiswa_TAII/<%=elem.nim%>"><div class="btn-tinjau">
            ATUR
          </div></a>
        </div>
      <%end %>
    <%end %>


  <footer>
    <p>
      ©2016 Informatics | School of Electrical Engineering & Informatics (SEEI) | Institut Teknologi Bandung
    </p>
  </footer>
  </body>
</html>
