<!DOCTYPE html>
<%= logger.info("HELLO NIGHT") %>
<html>
  <head>
    <!-- meta charec set -->
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Page Title -->
    <title>Dosen Ajukan Topik TA</title>
    <!-- Meta Description -->
    <meta name="description" content="Tugas Akhir dan Kerja Praktek ITB">
    <meta name="keywords" content="TA, TA I, TA II, TA 1, TA 2, Tugas Akhir, Ajukan Topik TA, ITB, Institut Teknologi Bandung">
    <meta name="author" content="Ari Pratama Zhorifiandi">
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'static-pages', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'ajukan-topik', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'bimbingan', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'static-pages', 'data-turbolinks-track': 'reload' %>


  </head>

  <body id="body">
    <!-- Fixed Navigation -->
    <header id="navigation" class="navbar-fixed-top navbar">
      <div class="container">
        <div class="navbar-header">
          <!-- responsive nav button -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars fa-2x"></i>
          </button>
          <!-- /responsive nav button -->

          <!-- logo -->
          <a class="navbar-brand" href="#body">
            <h1 id="logo">
              <img src="/img/Logo-ITB.png" height="50" width="50" alt="itb">
            </h1>
          </a>
          <!-- /logo -->
        </div>

        <!-- main nav -->
        <nav class="collapse navbar-collapse navbar-right" role="navigation">
          <ul id="nav" class="nav navbar-nav">
            <li><a href="/dosen_ta/mahasiswa">MAHASISWA</a></li>
            <li><a href="/dosen_ta/assignment_topik">ASSIGNMENT TOPIK</a></li>
            <li><a href="/dosen_ta/assignment_penguji">ASSIGNMENT PENGUJI</a></li>
            <li><a href="/logout">LOGOUT</a></li>
          </ul>
        </nav>
        <!-- /main nav -->
      </div>
    </header>
    <% if logged_in? %>
      <%
        if current_user.role == 'dosen'
          #keep
        elsif  current_user.role == 'mahasiswa'
          controller.redirect_to controller: 'mahasiswa', action: 'mahasiswa_ajukan_topik'
        else #TU
          controller.redirect_to controller: 'tu', action: 'tu_lihat_user'
      %>
    <% end %>
    <% else %>
      <% controller.redirect_to controller: 'sessions', action: 'new' %>
    <% end %>

    <% dosen = Dosen.find_by(nip: current_user.username)%>
    <% if dosen != nil %>
    <h2 style="margin-bottom: 0">Halo, <%= dosen.nama %> </h2>
    <% end %>
    <h1 style="margin-top: 0;">MINUTES OF MEETING</h1>
    <% i=0 %>
    <% @list_of_bimbingans.each do |elem| %>
      <% i=i+1 %>
      Minutes of Meeting ke- <%=i%>
      <div class="content">
        <label class='label-form'>NAMA MAHASISWA</label>

        <label class='label-form'>TANGGAL</label>
        <span id="tanggal"><%=elem.tanggal%></span>

        <label class='label-form'>HASIL DAN DISKUSI</label>
        <p id="hasil"><%=elem.hasildiskusi%></p>

        <label class='label-form'>RENCANA TINDAK LANJUT</label>
        <p id="rencana"><%=elem.rencanalanjut%></p>

        <label class='label-form'>RENCANA WAKTU BIMBINGAN SELANJUTNYA</label>
        <span id="rencana-waktu"><%=elem.tanggalrencana%></span>

        <br>

        <!--<button type="button" class="button-cancel-mom" onclick="hide(1)">CANCEL</button>-->
        <% isApproved = Bimbingan.find_by(mahasiswa: elem.mahasiswa).approved %>
        <% if isApproved == "not_approved" %>
          <%= form_tag("/dosen_pembimbing/bimbingan", method: "post") do %>
              <input name="nim" value='<%=elem.mahasiswa%>' class="input-text" type="hidden">
              <input name="approved" value='1' class="input-text" type="hidden">
              <%= submit_tag("SETUJUI") %>
          <% end %>
        <% else %>
        <%= form_tag("/dosen_pembimbing/bimbingan", method: "post") do %>
            <input name="nim" value='<%=elem.mahasiswa%>' class="input-text" type="hidden">
            <input name="approved" value='0' class="input-text" type="hidden">
            <%= submit_tag("TIDAK SETUJUI") %>
        <% end %>
        <% end %>
        <br><br><br><br><br><br>
      </div>
    <%end %>

    <h1>STATUS MAHASISWA</h1>
    <% if @mahasiswa.blank? %>
      <label class='label-form empty-record'> Tidak ada pengajuan bimbingan.</label>
    <% end %>
    <div class="box-info">
      <h1><%= @mahasiswa.nim %></h1>
      <h2><%= @mahasiswa.name %></h2>
      <h3>Dosen Pembimbing: <strong>Nunggu Assignment kelar dulu</strong></h3>
      <h3>Sidang TA I : <strong>Sudah</strong></h3>
      <h3>Dosen Penguji: <strong>Nunggu Assignment kelar dulu</strong></h3>

      <h3>Seminar TA II : <strong>Sudah</strong></h3>
      <h3>Dosen Penguji: <strong>Nunggu Assignment kelar dulu</strong></h3>

      <h3>Sidang TA II : <strong>Belum</strong></h3>
      <h3>Dosen Penguji: <strong>Nunggu Assignment kelar dulu</strong></h3>

      <p>Sidang belum ada backend nya</p>
    </div>

    <h1>NILAI MAHASISWA</h1>
    <label class='label-form'>NAMA PEMBIMBING</label>
    <input name="dosen_pembimbing" id="input-topik1" placeholder="Masukan Nama Pembimbing" class="input-text" type="text">

    <div style="margin: 0 auto; width: 80%; margin-top: 40px;">
    <a href="/dosen_ta/mahasiswa"><div class="btn-tinjau">
      KEMBALI
    </div></a>
  </div>


  <footer>
    <p>
      ©2016 Informatics | School of Electrical Engineering & Informatics (SEEI) | Institut Teknologi Bandung
    </p>
  </footer>
  </body>
</html>
